html {
    background-color: black;
    font-family: "Arial";
}

main {
    width: 500px;
    margin: 0;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin: 0 auto;

}

  header {
    height: 300px;
    background-image: url("/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg");
    background-size: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#second {
    text-align: center;
    padding: 10px;
}

.pic {
    width: 300px;
}

hr {
    width: 400px;
}

#ingredients {
    padding: 0 40px;
    margin: 10px;
}

#directions {
    padding: 10px 40px;
    margin: 10px;
}
